mission_log_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.w3schools.com"
    xmlns="https://www.w3schools.com" elementFormDefault="qualified">

    <xs:element name="MissionLog" type="MissionLogType"/>

    <xs:complexType name="MissionLogType">
        <xs:sequence>
            <xs:element name="Player" type="xs:string"/>
            <xs:element name="MissionType" type="xs:string"/>
            <xs:element name="Date" type="xs:dateTime"/>
            <xs:element name="Location" type="xs:string"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="Crew" type="CrewType" minOccurs="1"/>
            <xs:element name="Resources" type="ResourcesType"/>
        </xs:sequence>
    </xs:complexType>

        <xs:complexType name="CrewType">
        <xs:sequence>
            <xs:element name="Member" type="xs:string" minOccurs="1" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResourcesType">
        <xs:sequence>
            <xs:element name="Resource" type="ResourceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResourceType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Amount" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="unit" type="xs:string" use="optional"/>
    </xs:complexType>

</xs:schema>